$body-color: #111 !important;

// @import "../node_modules/bootstrap/scss/tables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

html body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
}

.flex {
  display: block;
}

.header h1,
h2 {
  text-align: center;
}

.row {
  background-color: transparent;
}

.card {
  // height: 340px;
  // width: 250px;
  // height: 40vw;
  // width: 30vw;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
  color: #ccc;
  background-color: #222 !important;
  border-radius: 10px !important;
}

.front,
.back {
  border-radius: 10px !important;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  position: absolute;
  text-align: center;
  padding: 5px;
}

.front {
  background-image: url(./Assets/img/tarotcard.png);
  background-size: 100%;
  // background: #222;
  // height: 100%;
  z-index: 2;
  backface-visibility: hidden;
}

.front p {
  background-color: #111;
  box-shadow: 0px 0px 10px 10px #111;
}

.back {
  background: #222;
  z-index: 1;
  transform: rotateY(180deg);
}

// .deck:hover .card{
//   transform: rotateY(180deg);
// }

.flipped {
  transform: rotateY(180deg);
}

.deck {
  perspective: 1000px;
}

// <576px	Small
// ≥576px	Medium
// ≥768px	Large
// ≥992px	X-Large
// ≥1200px	XX-Large
// ≥1400px XX-Large
@media only screen and (max-width: 576px) {
  .card {
    height: 329px;
    width: 220px;
  }
}
@media only screen and (min-width: 576px) {
  .card {
    height: 358px;
    width: 240px;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    height: 329px;
    width: 220px;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    height: 388px;
    width: 260px;
  }
}
