
$body-color: #111 !important;

// @import "../node_modules/bootstrap/scss/tables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


html body{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
}

.row{
  background-color: transparent;
}

.card{
  // height: 340px;
  // width: 250px;
  // height: 40vw;
  // width: 30vw;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
  color: red;
  background-color: #222 !important;
  border-radius: 15px !important;
}

.front,
.back{
  border-radius: 15px !important;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  text-align: center;
  padding: 5px;
}

.front{
  background: #222;
  z-index: 2;
  backface-visibility: hidden;
}

.back{
  background: #222;
  z-index: 1;
  transform: rotateY(180deg);
}

.deck:hover .card{
  transform: rotateY(180deg);
}

.deck{
  perspective: 1000px;
}

// <576px	Small
// ≥576px	Medium
// ≥768px	Large
// ≥992px	X-Large
// ≥1200px	XX-Large
// ≥1400px XX-Large
@media only screen and (max-width: 576px) {
  .card{
    height: 293px;
    width:220px;
  }
}
@media only screen and (min-width: 576px) {
  .card{
    height: 320px;
    width: 240px;
  }
}
@media only screen and (min-width: 768px) {
  .card{
    height: 293px;
    width: 220px;
  }
}
@media only screen and (min-width: 992px) {
  .card{
    height: 347px;
    width: 260px;
  }
}

