
$body-color: green !important;

@import "../node_modules/bootstrap/scss/bootstrap";

body{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #222;
}

h2{
}

.card{
  height: 340px;
  width: 250px;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
}

.front,
.back{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Lobster', cursive;
  border-radius: 10px;
  position: absolute;
}

.front{
  background: linear-gradient(#333, #05693c);
  z-index: 2;
  backface-visibility: hidden;
}

.back{
  background: linear-gradient(#555, #a10916);
  z-index: 1;
  transform: rotateY(180deg);
}

.container:hover .card{
  transform: rotateY(180deg);
}

.container{
  perspective: 1000px;
}



